body {
  h1 {
    color: #00ff23;
    text-align: center;
  }
}

body {
  background-color: #00FFFF;
}

.todo {
    margin: 1em;

    label {
        margin-right: 1em;
    }

    .editable {
        font-size: 1.5em;
        font-weight: bold;
        // text-align: right;
    }
}

// Spacing betwwen top of page and the 1st div
.panel {
    margin-top: 2em;
}


